<div class="ui inverted main menu">
  <div class="container">
    <%= link_to 'Attachments.IO', root_path, class: 'header item' %>

    <% if user_sign_in? %>
        <div class="right menu">
          <%= link_to profile_path, class: 'item' do %>
            <i class="user icon"></i>
            <%= "#{current_user.first_name} #{current_user.last_name}" %>
          <% end %>
          <%= link_to user_settings_path, class: 'item' do %>
            <i class="settings icon"></i>
            Settings
          <% end %>
          <%= link_to sign_out_path, class: 'item' do %>
            <i class="sign out icon"></i>
            Sign out
          <% end %>
        </div>
    <% else %>
        <div class="right menu">
          <span class="item"><i class="sign in icon"></i></span>
          <%= link_to 'Google Account', sign_in_google_path, class: 'item' %>
          <%= link_to 'Google Apps', sign_in_apps_path, class: 'item' %>
        </div>
    <% end %>
  </div>
</div>