<%= form_tag nil, class: 'ui form segment', id: 'sign-in-apps' do %>
  <p class="text-center"><%= image_tag 'google_logo.png', width: '300px' %></p>

  <div class="field">
    <%= label_tag :domain %>
    <%= text_field_tag :domain, nil, placeholder: 'example.com' %>
  </div>

  <%= submit_tag 'Continue', class: 'ui blue submit button' %>
<% end %>