<div id="synchronization-<%= @sync.id %>">
  <h1>
    <%= "Synchronization ##{@sync.id}" %>
    <% if @sync.inprocess? %>
      <span class="ui blue label">
        <i class="loading icon"></i>
        In process
      </span>
    <% elsif @sync.finished? %>
      <span class="ui green label">
        <i class="check icon"></i>
        Finished
      </span>
    <% else %>
      <span class="ui red label">
        <i class="bolt icon"></i>
        Error
      </span>
    <% end %>
  </h1>

  <% if @sync.inprocess? %>
    <div class="ui grid">
      <div class="left floated six wide column" id="progress-title">
        <% if @sync.email_count.nil? %>
          Gettings emails...
        <% elsif @sync.email_count.zero? %>
          Nothing to synchronize..
        <% elsif @sync.email_count %>
          Emails parsed <%= @sync.email_parsed.to_i %> of <%= @sync.email_count.to_i %>
        <% end %>
      </div>
      <div class="right aligned floated two wide column" id="progress-percentage">
        <% if !@sync.email_count.nil? && !@sync.email_count.zero? %>
          <%= (@sync.email_parsed.to_i / @sync.email_count.to_f * 100).to_i %>%
        <% end %>
      </div>
    </div>
      <div class="ui successful progress" id="progressbar-<%= @sync.id %>">
        <% if !@sync.email_count.nil? && !@sync.email_count.zero? %>
          <div class="bar" style="width: <%= @sync.email_parsed.to_i / @sync.email_count.to_f * 100 %>%;"></div>
        <% else %>
          <div class="bar" style="width: 0;"></div>
        <% end %>
    </div>
  <% end %>

  <% if @sync.finished? %>
    <h2>
      <i class="info icon"></i>
      Synchronization info
    </h2>
    <div class="ui connected items">
      <div class="item">
        <div class="content">
          <div class="name">Time</div>
          <div class="description">
            <p>Started at: <%= Time.at(@sync.started_at).to_formatted_s(:long) %></p>
            <p>Finished at: <%= Time.at(@sync.finished_at).to_formatted_s(:long) %></p>
            <p>Elapsed: <%= ((@sync.finished_at - @sync.started_at.to_f) / 60).round %> min.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="name">Files synchronized (<small class="muted"><%= pluralize(@files.count, 'file') %></small>)</div>
          <div class="description">
            <% unless @sync.files.audio.count.zero? %>
              <p><%= pluralize(@sync.files.audio.count, 'audio') %></p>
            <% end %>
            <% unless @sync.files.documents.count.zero? %>
              <p><%= pluralize(@sync.files.documents.count, 'document') %></p>
            <% end %>
            <% unless @sync.files.developers.count.zero? %>
              <p><%= @sync.files.developers.count %> developers</p>
            <% end %>
            <% unless @sync.files.images.count.zero? %>
              <p><%= pluralize(@sync.files.images.count, 'image') %></p>
            <% end %>
            <% unless @sync.files.videos.count.zero? %>
              <p><%= pluralize(@sync.files.videos.count, 'video') %></p>
            <% end %>
            <% unless (@sync.files.miscellaneous.count + @sync.files.others.count).zero? %>
              <p><%= pluralize(@sync.files.miscellaneous.count + @sync.files.others.count, 'other') %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="name">Labels synchronized <small>(example)</small></div>
          <div class="description">
            <p>INBOX</p>
            <p>GitHub</p>
            <p>webbROI</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @sync.error? && !@sync.error_message.empty? %>
    <div class="ui icon error message">
      <i class="exclamation icon"></i>
      <div class="content">
        <div class="header">Sorry, we got a error</div>
        <p><%= @sync.error_message %></p>
      </div>
    </div>
  <% end %>

  <h2>
    <i class="refresh icon"></i>
    Synchronized files
  </h2>

  <% if @files.empty? %>
    <% if @sync.inprocess? %>
      <p>Please, wait..</p>
    <% else %>
      <p>This synchronization don't have any files.</p>
    <% end %>
  <% end %>

  <% unless @sync.error? %>
    <table class="ui small table<%= ' hide' if @files.empty? %>" id="synchronized-files">
      <thead>
      <tr>
        <th>File</th>
        <th>Size</th>
      </tr>
      </thead>
      <tbody>
      <% unless @files.empty? %>
        <% @files.each do |file| %>
          <tr class="positive">
            <td>
              <%= link_to file.filename, file.link, target: '_blank' %><br>
              <small class="muted"><%= file.file_type %></small>
            </td>
            <td><%= number_to_human_size(file.size) %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>