<%= render partial: 'partials/errors', locals: { model: @settings } %>

<%= form_for @settings, url: user_settings_path do |f| %>

  <h2>
    <i class="glyphicon glyphicon-cog"></i>
    Application Settings
  </h2>

  <div class="well">
    <div class="checkbox">
      <%= f.label :subject_in_filename do %>
        <%= f.check_box :subject_in_filename %>
        Add Email Subject to synced file names (eg. "Email Subject - File Name")
      <% end %>
    </div>
    <div class="checkbox">
      <%= f.label :convert_files do %>
        <%= f.check_box :convert_files %>
        Convert files to Google Drive format (eg. Excel to Google Spreadsheets)
      <% end %>
      <small><%= link_to 'read more', 'https://support.google.com/drive/answer/2407404', target: '_blank' %></small>
    </div>
    <div class="checkbox">
      <%= f.label :active do %>
        <%= f.check_box :active %>
        Active auto-sync for every 10 minutes
      <% end %>
    </div>
  </div>

  <%= f.submit 'Update settings', class: 'btn btn-primary' %>
<% end %>