<%= render partial: 'partials/errors', locals: { model: @settings } %>

<%= form_for @settings, url: user_settings_path do |f| %>

  <h2 class="ui header">
    <i class="settings icon"></i>
    Application Settings
  </h2>

  <div class="ui form segment">
    <div class="inline field">
      <%= f.check_box :subject_in_filename %>
      <%= f.label :subject_in_filename, 'Add Email Subject to synced file names (eg. "Email Subject - File Name")' %>
    </div>
    <div class="inline field">
      <%= f.check_box :convert_files %>
      <%= f.label :convert_files, 'Convert files to Google Drive format (eg. Excel to Google Spreadsheets)' %>
      <p><%= link_to 'More abouts this', 'https://support.google.com/drive/answer/2407404', target: '_blank' %></p>
    </div>
  </div>

  <%= f.submit 'Update settings', class: 'ui blue submit button' %>
<% end %>

<%= form_for @profile, url: user_settings_path do |f| %>

  <h2 class="ui header">
    <i class="settings icon"></i>
    Profile information
  </h2>

  <div class="ui form segment">
    <div class="field">
      <%= f.label :gender %>
      <%= f.select :gender, options_for_select([['Male', :male], ['Female', :female]], @profile.gender.to_sym) %>
    </div>
    <div class="field">
      <%= f.label :organization %>
      <%= f.text_field :organization %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :plus, 'Google Plus' %>
      <%= f.text_field :plus %>
    </div>
    <div class="field">
      <%= f.label :twitter %>
      <%= f.text_field :twitter %>
    </div>
    <div class="field">
      <%= f.label :facebook %>
      <%= f.text_field :facebook %>
    </div>
  </div>

  <%= f.submit 'Update profile', class: 'ui blue submit button' %>
<% end %>