<div ng-controller="MainPageCtrl">
  {{ $log.log(emails) }}

<% if @user.now_synchronizes? %>
  <h4>Current status: <strong class="text-success">Synchronizes</strong></h4>

  <% if @sync.email_count.zero? %>
    <small>Getting emails...</small>
  <% elsif @sync.email_count.to_i == @sync.email_count.to_i %>
    <smal>Finishing synchronization...</smal>
  <% else %>
    <small>Uploading attachments. Uploaded <%= @sync.email_parsed.to_i %> of <%= @sync.email_count.to_i %> emails..</small>
  <% end %>
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @progressbar[:percent] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progressbar[:percent] %>%;">
      <div class="sr-only"><%= @progressbar[:percent] %>% complete</div>
    </div>
  </div>
<% else %>
  <h4>
    Current status: <strong class="text-warning">Waiting</strong> <small>~ <%= 10 - Time.now.min % 10 %> min.</small>
    <%= link_to sync_start_path, class: 'btn btn-success btn-xs' do %>
      START
    <% end %>
    <%= link_to resync_start_path, class: 'btn btn-danger btn-xs', data: { confirm: 'Okay :(' } do %>
      RESYNC
    <% end %>
  </h4>
<% end %>

<% unless @user.last_sync.nil? %>
  <p><small>Last synchronized at: <%= Time.at(@user.last_sync).to_formatted_s(:long) %></small></p>
<% end %>


<% if @emails.empty? %>
  <% if @user.now_synchronizes? %>
    <div class="text-center">
      <h3>Synchronization in process. Please wait few seconds to look at magic ;)</h3>
    </div>
  <% else %>
    <div class="text-center">
      <h3>You don't have synchronized emails. But you can fix it ;)</h3>
      <%= link_to sync_start_path, class: 'btn btn-success btn-large' do %>
        <span class="glyphicon glyphicon-play"></span>
        Start synchronizations
      <% end %>
    </div>
  <% end %>
<% else %>
    <table id="emailsAndFiles" class="table table-striped">
      <thead>
	      <tr>
	        <th style="width: 50px;">
	          <i class="glyphicon glyphicon-collapse-up"    data-toggle="collapse" data-parent="#emailsAndFiles" data-target=".in"      ></i>
	          <i class="glyphicon glyphicon-collapse-down"  data-toggle="collapse" data-parent="#emailsAndFiles" data-target=".collapse"></i>
	        </th>
	        <th>From</th>
	        <th>Subject</th>
	        <th>Label</th>
	        <th>Files Count</th>
	      </tr>
      </thead>
      <tbody ng-repeat='email in emails' ng-if="email.files.length > 0">
		<tr data-toggle="collapse"  data-parent="#emailsAndFiles" data-target="#collapse-{{ email.id }}" class="email-header">
			<td class="text-center"><i class="glyphicon glyphicon-collapse-down"></i></td>
			<td>{{ email.from }}</td>
			<td>{{ email.subject }}</td>
			<td>{{ email.label }}</td>
			<td>
			  <ng-pluralize count="email.files.length"
			                when="{  '0': 'No files.', 'one': '1 file.', 'other': '{} files.'}"></ng-pluralize>
			</td>
		</tr>
		<tr id="collapse-{{ email.id }}" class="panel-collapse collapse">
          <td colspan="5">
            <table class="table">
              <tbody ng-repeat="file in email.files">
                <tr>
                  <td>
                    <span ng-if="file.status == <%= EmailFile::UPLOADED %>" class="label label-success">New</span>
                    <span ng-if="file.status == <%= EmailFile::ALREADY_UPLOADED %>" class="label label-warning">Uploaded</span>
                    <a href="{{ file.link }}" target="_blank">{{ file.filename }}</a>
                  </td>
                  <td class="text-right "> {{ file.size | bytes }} </td>
                </tr>
              </tbody>
            </table>
          </td>
		</tr>
      </tbody>
    </table>

<% end %>
</div>