<div ng-controller="MainPageCtrl">
  {{ $log.log(emails) }}

<% if @user.now_synchronizes? %>
  <div class="alert alert-success">
    <p><strong>Synchronization in process. Please, wait..</strong></p>
  </div>
<% else %>
  <p>
    <%= link_to sync_start_path, class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-play"></span>
      Start synchronization
    <% end %>
    <%= link_to resync_start_path, class: 'btn btn-danger', confirm: 'Reallly? O_o' do %>
      <span class="glyphicon glyphicon-play"></span>
      Re-synchronize all emails
    <% end %>
  </p>
<% end %>

<% unless @user.last_sync.nil? %>
  <p>Last synchronized at: <%= Time.at(@user.last_sync).to_formatted_s(:long) %></p>
<% end %>

<p>Time for next synchronization: ~ <%= 10 - Time.now.min % 10 %> min.</p>

<% if @emails.empty? %>
  <% if @user.now_synchronizes? %>
    <div class="text-center">
      <h3>Synchronization in process. Please wait few seconds to look at magic ;)</h3>
    </div>
  <% else %>
    <div class="text-center">
      <h3>You don't have synchronized emails. But you can fix it ;)</h3>
      <%= link_to sync_start_path, class: 'btn btn-success btn-large' do %>
        <span class="glyphicon glyphicon-play"></span>
        Start synchronizations
      <% end %>
    </div>
  <% end %>
<% else %>
    <table class="table table-striped">
      <thead>
	      <tr>
	        <th><i class="glyphicon glyphicon-plus"></i></th>
	        <th>From</th>
	        <th>Subject</th>
	        <th>Label</th>
	        <th>Files Count</th>
	      </tr>
      </thead>
      <tbody ng-repeat='email in emails'>
		<tr>
			<td><i class="glyphicon glyphicon-plus"></i></td>
			<td>{{ email.from }}</td>
			<td>{{ email.subject }}</td>
			<td>{{ email.label }}</td>
			<td>
			  <ng-pluralize count="email.files.length"
			                when="{  '0': 'No files.',
				                     'one': '1 file.',
				                     'other': '{} files.'}">
			  </ng-pluralize>
			</td>
		</tr>
		<tr>
          <td colspan="5">
            <table class="table">
              <thead> <th>Name</th> <th>Type</th> <th>Size</th> </thead>
              <tbody ng-repeat="file in email.files">
                <tr>
                  <td>
                    <span ng-if="file.status == <%= EmailFile::UPLOADED %>" class="label label-success">New</span>
                    <span ng-if="file.status == <%= EmailFile::ALREADY_UPLOADED %>" class="label label-warning">Uploaded</span>
                    <a href="{{ file.link }}" target="_blank">{{ file.filename }}</a>
                  </td>
                  <td> {{ file.ext }} </td>
                  <td> {{ file.size }} </td>
                </tr>
              </tbody>
            </table>
          </td>
		</tr>
      </tbody>
    </table>

<% end %>
</div>