<h1>
  <span class="circular small ui image">
    <%= current_user.profile_picture %>
  </span>
  <%= "#{@user.first_name} #{@user.last_name}" %>
</h1>

<div class="ui header">
  Profile info
</div>
<div class="ui bulleted list">
  <% if @user.profile.plus %>
    <div class="item"><%= link_to 'Google Plus', @user.profile.plus %></div>
  <% end %>
  <% if @user.profile.organization %>
    <div class="item">Organization: <strong><%= @user.profile.organization %></strong></div>
  <% end %>
  <% if @user.profile.location %>
    <div class="item">Location: <strong><%= @user.profile.location %></strong></div>
  <% end %>
</div>


<%= link_to sync_start_path, class: 'ui labeled icon green button' do %>
  <i class="play icon"></i>
  Start synchronization
<% end %>

<%= link_to sync_delete_all_path, class: 'ui labeled icon red button', confirm: 'Do you wanna delete all synchronizations?' do %>
  <i class="delete icon"></i>
  Delete all
<% end %>

<h2 class="ui header">Synchronizations</h2>

<% if @syncs.empty? %>
    <p>Not yet synchronized.</p>
<% else %>
    <table class="ui table segment">
      <thead>
        <tr>
          <th>#</th>
          <th>Status</th>
          <th>Started</th>
          <th>Finished</th>
          <th>Emails</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @syncs.each do |sync| %>
        <tr class="<%= sync_status_class_row(sync.status) %>">
          <td><%= sync.id %></td>
          <td>
            <% if sync.finished? %>
                <i class="icon checkmark"></i>
            <% else %>
                <i class="icon attention"></i>
            <% end %>
            <%= sync.status_readable %>
          </td>
          <td><%= Time.at(sync.started_at).to_formatted_s(:long) %></td>
          <td>
            <% if sync.finished? %>
                <%= Time.at(sync.finished_at).to_formatted_s(:long) %>
            <% else %>
                -
            <% end %>
          </td>
          <td><%= sync.email_count.to_i %></td>
          <td>
            <%= link_to sync_details_path(sync), class: 'ui green mini button' do %>
              <i class="reorder icon"></i>
              Details
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% end %>