<!DOCTYPE html>
<html ng-app="attachments">
  <%= render 'partials/head' %>
  <%= render 'partials/google_analytics' %>
<body>

<%= render 'partials/navbar' %>

<div class="container padded">
  <div class="row">
    <div class="col-md-12">
      <%= render 'partials/flash_messages' %>
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'partials/footer' %>
</body>
</html>
