<!DOCTYPE html>
<html ng-app="attachments">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@ttachments.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/navbar' %>

<div class="insert-wrapper padded">
  <%= render 'partials/flash_messages' %>
  <%= yield %>
</div>

<%= render 'partials/footer' %>

</body>
</html>
