<!DOCTYPE html>
<html ng-app="attachments">
  <%= render 'partials/head' %>
  <style type="text/css">
	  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
	  }
  </style>
<body>

<%= render 'partials/navbar' %>

<div class="container padded">
  <div class="row">
    <div class="col-md-12">
      <%= render 'partials/flash_messages' %>
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'partials/footer' %>
</body>
</html>
