<!DOCTYPE html>
<html ng-app="attachments">
  <%= render 'partials/head' %>
<body>

<%= render 'partials/navbar' %>

<%= render 'partials/flash_messages' %>
<%= yield %>

<%= render 'partials/footer' %>
</body>
</html>
