<!DOCTYPE html>
<html ng-app="attachments">
  <%= render 'partials/head' %>
<body>

<%= render 'partials/navbar' %>

<% unless flash.empty? %>
    <div class="container flash-messages-no-wrapper">
      <div class="row">
        <div class="col-md-12"><%= render 'partials/flash_messages' %></div>
      </div>
    </div>
<% end %>

<div class="screen"><%= yield %></div>

<%= render 'partials/footer' %>
</body>
</html>
