<!DOCTYPE html>
<html ng-app="attachments">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@ttachments.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.3.4/css/semantic.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'libs', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js',                     'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js',          'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.3.4/javascript/semantic.min.js',   'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js',                  'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js',            'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js',         'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.min.js',         'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js',          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'libs',        'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/navbar' %>

<%= render 'partials/flash_messages' %>
<%= yield %>

<%= render 'partials/footer' %>

</body>
</html>
